{% extends 'NimbleBoardBundle::layout.html.twig' %}

{% block content %}
  <h1>{% trans %}sprint.backlog{% endtrans %}</h1>
  <div class="links">
    <a class="button" href="{{ path('_sprintList', {projectId: sprint.project.id}) }}"><img src="{{ asset('bundles/nimbleboard/images/list.png') }}" alt="{% trans %}sprint.list{% endtrans %}" /> {% trans %}sprint.list{% endtrans %}</a>
    <a class="button space_button" href="{{ path('_sprintAddStories', {id: sprint.project.id}) }}"><img src="{{ asset('bundles/nimbleboard/images/add.png') }}" alt="{% trans %}sprint.addStories{% endtrans %}" /> {% trans %}sprint.addStories{% endtrans %}</a>
  </div>
  <div class="project_list">
    {% for story in sprint.stories %}
      {% include 'NimbleBoardBundle:Story:detail.html.twig' with {'useposition': false, 'story': story} %}
    {% endfor %}
  </div>
{% endblock %}