{% extends 'NimbleBoardBundle::layout.html.twig' %}

{% block content %}
  <h1>{% trans %}project.deleteConfirm{% endtrans %}</h1>

  <div class="links centered">
    <a class="button" href="{{ path('_projectDeleteConfirm', {id: project.id}) }}"><img src="{{ asset('bundles/nimbleboard/images/delete.png') }}" alt="{% trans %}delete{% endtrans %}" /> {% trans %}delete{% endtrans %}</a>
    <a class="button space_button" href="{{ path('_projectList') }}"><img src="{{ asset('bundles/nimbleboard/images/cancel.png') }}" alt="{% trans %}form.cancel{% endtrans %}" /> {% trans %}cancel{% endtrans %}</a>
  </div>
{% endblock %}