{% extends 'NimbleBoardBundle::layout.html.twig' %}

{% block content %}
  <h1>{% trans %}Welcome.msg{% endtrans %}</h1>
  <a href="{{ path('_productBacklog') }}">{% trans %}Product.backlog{% endtrans %}</a>
{% endblock %}
